body {
   
    align-content: center;
    font-family: sans-serif;
    background-color: #111d4a;
    color:black;

}

body{
    background-image: url('cc2.png');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 40%;
      background-position: right bottom;
      
      
}
* {
    box-sizing: border-box;
  }

.header{

    align-content: left;
    justify-content: left;
    margin-top: 20px;
    margin-left:auto;
}
.searchWrapper {
    padding: 40px;
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
    justify-content: center;
    align-items: center;
}


.searchBar {
    width: 100%;
    height: 32px;
    border-radius: 3px;
    border: 1px solid #eaeaea;
    padding: 5px 10px;
    font-size: 12px;
}

.card{
    margin-top: 30px;
    background-color: white;
    width: 18rem;
    align-items: center;
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; 
    justify-content: center;
    padding-bottom: 10px;
    padding-left: 10px;
}


.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit:scale-down;
}

.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
   }

.img{
    justify-content: center;
    align-items: center;
}   
